<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xs:string</key>
	<string>INString</string>
	<key>xs:normalizedString</key>
	<string>INNormalizedString</string>
	<key>xs:anyURI</key>
	<string>INAnyURI</string>
	<key>xs:date</key>
	<string>INDate</string>
	<key>xs:dateTime</key>
	<string>INDateTime</string>
	<key>xs:boolean</key>
	<string>INBool</string>
	<key>xs:decimal</key>
	<string>INDecimal</string>
	<key>xs:float</key>
	<string>INFloat</string>
	<key>xs:double</key>
	<string>INDouble</string>
	<key>xs:integer</key>
	<string>INInteger</string>
	<key>xs:int</key>
	<string>INInteger</string>
	<key>xs:duration</key>
	<string>INDuration</string>
	<key>indivo:CodedValue</key>
	<string>INCodedValue</string>
	<key>indivo:ValueAndUnit</key>
	<string>INUnitValue</string>
	<key>indivo:Document</key>
	<string>IndivoDocument</string>
	<key>indivo:Address</key>
	<string>INAddress</string>
	<key>indivo:GenderType</key>
	<string>INGenderType</string>
	<key>String</key>
	<string>INString</string>
	<key>Name</key>
	<string>INName</string>
	<key>Telephone</key>
	<string>INTelephone</string>
	<key>PhoneType</key>
	<string>INPhoneType</string>
	<key>Date</key>
	<string>INDateTime</string>
	<key>Number</key>
	<string>INDecimal</string>
	<key>VitalSign</key>
	<string>INVitalSign</string>
	<key>BloodPressure</key>
	<string>INBloodPressure</string>
	<key>Organization</key>
	<string>INOrganization</string>
	<key>Pharmacy</key>
	<string>INPharmacy</string>
	<key>Provider</key>
	<string>INProvider</string>
	<key>QuantitativeResult</key>
	<string>INQuantitativeResult</string>
</dict>
</plist>
