<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xs:string</key>
	<string>INString</string>
	<key>xs:anyURI</key>
	<string>INAnyURI</string>
	<key>xs:date</key>
	<string>INDate</string>
	<key>xs:dateTime</key>
	<string>INDateTime</string>
	<key>xs:boolean</key>
	<string>INBool</string>
	<key>xs:decimal</key>
	<string>INDecimal</string>
	<key>xs:float</key>
	<string>INFloat</string>
	<key>xs:double</key>
	<string>INDouble</string>
	<key>xs:integer</key>
	<string>INInteger</string>
	<key>xs:int</key>
	<string>INInteger</string>
	<key>xs:duration</key>
	<string>INDuration</string>
	<key>indivo:CodedValue</key>
	<string>INCodedValue</string>
	<key>indivo:ValueAndUnit</key>
	<string>INUnitValue</string>
	<key>indivo:Document</key>
	<string>IndivoDocument</string>
	<key>indivo:PhoneType</key>
	<string>IndivoPhoneType</string>
	<key>indivo:GenderType</key>
	<string>IndivoGenderType</string>
</dict>
</plist>
